body {
    background-color: #333;
    padding: 0%;
    margin: 0%;
}

p {
    color: #f2f2f2;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #9BA0A8;
    color: black;
}

.topnav a.active {
    background-color: #1B9AAA;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    background-color: #333;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #1B9AAA;
    height: 100%;   
}

.divResults {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    width: 90%;
    text-align: center;
    background-color: #333;
    padding: 3vh;
}

.details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    background-color: #333;
    padding: 3vh;
    padding-bottom: 0px;
}

.selected {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*********************************************************************************
* TRANSFORMS
**********************************************************************************/
/*Transform 1: skews the x axis 15 degrees on certain titles*/
h2, h3 {
    text-align: center;
    color: #f2f2f2;
    font-size: 5vh;
    transform: skewX(15deg);
}

/*********************************************************************************
* ANIMATIONS
**********************************************************************************/
/*ANIMATION 1: skews the y axis from 5 degrees to -5 degrees*/
@keyframes tilt {
    0% {
        /*Transform 2: skews the y axis 5 degrees to -5 degrees*/
        -ms-transform: skewY(5deg); /* IE 9 */
        -webkit-transform: skewY(5deg); /* Safari 3-8 */
        transform: skewY(5deg);
        color: #F8FFE5;
    }
    100% {
        -ms-transform: skewY(-5deg); /* IE 9 */
        -webkit-transform: skewY(-5deg); /* Safari 3-8 */
        transform: skewY(-5deg);
        color: #FFC43D;
    }
}

h1 {
    text-align: center;
    font-size: 10vh;
    animation: tilt 2s infinite;
    animation-direction: alternate;
}

/*ANIMATION 2: Starts 200px low and moves to regular position*/
@keyframes fadeUp {
    0%   {left: 0px; top:300px;}
    100% {left: 0px; top:0px;}
}

.moveUp {
    position: relative;
    animation-name: fadeUp;
    animation-duration: 3s;
}

/*ANIMATION 3: */
@keyframes shrink {
    0%   {-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);}
    100% {-webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);}
}

.clicked {
    animation-name: shrink;
    animation-duration: 1s;
}

/*********************************************************************************
* TRANSITIONS
**********************************************************************************/
/*TRANSITION 1: changes the width from 55px to 65px on hover*/
.button1{
    background: #3D74AE;
    width: 55px;
    transition: width 1s;
    -webkit-transition: width 1s; 
}
  
.button1:hover {
    width: 65px;
}

/*TRANSITION 2: changes the width from 140px to 150px on hover*/
.button2{
    background: #3D74AE;
    width: 140px;
    transition: width 1s;
    -webkit-transition: width 1s; 
}

.button2:hover {
    width: 150px;
}

/*TRANSITION 3: changes the width of the thumbnail images from 28% to 31% on hover*/
.thumbnail {
    margin: 5px;
    width: 28%; 
    transition: width 1s;
    -webkit-transition: width 1s; 
}
.thumbnail:hover {
    width: 31%;
}

/*********************************************************************************
* MOBILE SPECIFIC CSS
**********************************************************************************/
@media only screen and (min-device-width: 400px) {
    /*TRANSITION: same transition but modified for mobile*/
    .thumbnail {
        width: 17%; 
        transition: width 1s;
        -webkit-transition: width 1s; 
    }
    .thumbnail:hover {
        width: 19%;
    }
}